<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> - Clucks - </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script src="/js/jquery-3.2.1.slim.min.js" charset="utf-8"></script>
    <script src="/js/popper.min.js" charset="utf-8"></script>
    <script defer src="/js/bootstrap.min.js" charset="utf-8"></script>
  </head>
  <body>
    <nav class="navbar navbar-light justify-content-between border">
      <a class="navbar-brand" href="/clucks"><img style="height:40px;" src="http://www.myiconfinder.com/uploads/iconsets/256-256-dc8401b4400c0249c70e4d8a443926ab-chicken.png" alt=""></a>

      <div class="inline">
        <a class="btn btn-secondary" href="/clucks/new">Cluck!</a>
      </div>
    </nav>

    <div class="container">
